################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/PeopleFinder.BusinessService/bin/Debug/net8.0
/PeopleFinder.BusinessService/obj
/PeopleFinder.DataAccess/bin/Debug/net8.0
/PeopleFinder.DataAccess/obj
/PeopleFinder.Domain/bin/Debug/net8.0
/PeopleFinder.Domain/obj
/.vs/Registrysearch/v17
/.vs
/RegistrySearch.BusinessService/bin/Debug/net8.0
/RegistrySearch.BusinessService/obj
/RegistrySearch.DataAccess/bin/Debug/net8.0
/RegistrySearch.DataAccess/obj
/RegistrySearch.Domain/bin/Debug/net8.0
/RegistrySearch.Domain/obj
